path {
	fill: none;
	stroke: #87CEEB;
}
circle {
	fill: #00BFFF;
	stroke: white;
	stroke-width:2;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 40px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
