.page__hd{
  background-color: #910029;
  font-family: Microsoft Yahei;
  color: #FFFFFF;
  text-align: center;

}
.page__bd{
  /*background-color: #F8C0D0;*/
  font-family: Microsoft Yahei;

}
.page_ft{
  text-align: center;
}

.weui-label{
  width:200px;
}



body,html,#resultmap{
width: 100%;
height: 100%;
overflow: hidden;
margin:0;
font-family:Microsoft Yahei;
}
